<div th:replace="body/alert::alert"></div>
<section class="section">
	<div class="row">
		<div class="col-lg-9">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{pageTitle}}</h5>
					<!-- General Form Elements -->
					<form class="row g-3">
						<div class="col-md-4">
							<label for="inputState" class="form-label">Select
								Shop:{{shopeSelected}}</label> <select id="inputState" ng-model="shopId"
								class="form-select">
								<option value="" selected="">Choose...</option>
								<option ng-repeat="shop in shopeList" value="{{shop.id}}">{{shop.shopName}}</option>
							</select>
						</div>
						<div class="col-md-12">
							<label for="inputName5" class="form-label">Name</label> <input
								type="text" ng-model="productName" class="form-control"
								id="inputName5">
						</div>
						<div class="col-md-3">
							<label for="inputEmail5" class="form-label">Barcode</label> <input
								type="text" maxlength="13" numbers-only ng-model="barcode" class="form-control"
								id="inputEmail5">
						</div>
						<div class="col-md-9">
							<label for="inputPassword5" class="form-label">Image
								Upload</label> <input file-model="file" ng-model="pimage" class="form-control" type="file" id="formFile">
								

						</div>
						<div class="col-md-3">
							<label for="inputZip" class="form-label">MRP</label> <input
								type="text" ng-model="mrp" class="form-control" id="inputZip">
								
						</div>

						<div class="col-md-3">
							<label for="inputZip" class="form-label">Offer price (%)</label>
							<input type="text" ng-model="offerPrice" class="form-control"
								id="inputZip">
						</div>

						<div class="col-md-3">
							<label for="inputZip" class="form-label">cgst</label> <input
								type="text" ng-model="cgst" class="form-control" id="inputZip">
						</div>

						<div class="col-md-3">
							<label for="inputZip" class="form-label">sgst</label> <input
								type="text" ng-model="sgst" class="form-control" id="inputZip">
						</div>

						<div class="col-md-4">
							<label for="inputState" class="form-label">Unit Type</label> <select
								id="inputState" ng-model="unitId" class="form-select">
								<option value="" selected="">Choose...</option>
								<option ng-repeat="ree in respunit" value="{{ree.id}}">{{ree.unitName}}</option>
							</select>
						</div>

						<div class="text-center">
							<button type="submit" ng-click="saveProduct()"
								class="btn btn-primary">Submit</button> 
							<button type="reset" class="btn btn-secondary resetbtn">Reset</button>
						</div>
					</form>
					<!-- End General Form Elements -->
				</div>
			</div>
		</div>
	</div>
</section>