<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

{{scope.students}}

  <!-- ======= Sidebar ======= -->
  <aside th:fragment="side" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/home">
          <i class="bi bi-upc-scan"></i>
          <span>Home</span>
        </a>
      </li><!-- End Dashboard Nav -->
		
		<!-- End Blank Page Nav -->

	  <li class="nav-heading bi bi-stop-fill"></li> 
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#shop-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-shop-window"></i><span>Shop</span><i class="bi bi-chevron-down ms-auto"></i>
          
        </a>
        <ul id="shop-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         <!--  <li>
            <a href="#/slist">
              <i class="bi bi-circle"></i><span>List</span>
            </a>
          </li> -->
          
          <li>
            <a href="#/sadd">
              <i class="bi bi-circle"></i><span>Add</span>
            </a>
          </li>
        </ul>
      </li>
      
            <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#product-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-shop-window"></i><span>Product</span><i class="bi bi-chevron-down ms-auto"></i>
          
        </a>
        <ul id="product-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#/plist">
              <i class="bi bi-circle"></i><span>List</span>
            </a>
          </li>
          
          <li>
            <a href="#/padd">
              <i class="bi bi-circle"></i><span>Add</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside><!-- End Sidebar-->
  
  <div th:fragment="pagetitle" class="pagetitle">
      <!-- <h1>Badges</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Components</li>
          <li class="breadcrumb-item active">Badges</li>
        </ol>
      </nav> -->
    </div><!-- End Page Title -->
